{% extends 'tables/base.html' %}

{% block content %}
<aside>

    <a>Dashboard</a>
    <hr>
    <ul>
        <caption>Courses</caption>
        {% for course in user.course_set.all %}
        <li><a href="{% url 'detail' course.pk %}">{{ course.course }}</a></li>
        {% endfor %}
    </ul>
    <a href = "{% url 'add_course' %}">Add Course</a>
    <hr>
    <ul>
        <caption>Due Soon</caption>
        <li>class 1 due on Friday</li>
        <li>class 2 due on Monday</li>
    </ul>
</aside>
<section class="dashboard">
    <ul>
    {% for assign in current_assigns %}
            <li>
                <b>{{ assign.course }}</b><br />
                {{ assign.assignment | linebreaks }}<br />
                <span style="color: #886666;">Due: {{ assign.end }}</span>
            </li>
    {% endfor %}
    </ul>
</section>

{% endblock %}
