{% extends 'tables/base.html' %}

{% block content %}

<h3>{{ course.course }}</h3>
{% if user.is_authenticated %}
    <a href="" style="float: right;">Drop from this course</a>
{% endif %}
<a href="{{ course.url }}">{{ course.url }}</a>
<hr />

{% if user.is_authenticated %}
    <a href="{% url 'post' course.pk %}">Post new assignment</a>
{% endif %}
<br />
<br />

{% for assign in course.assignments_set.all %}
    <ul class="assign">
        <li>
            <h4>{{ assign }}</h4>
            <p>Due on: {{ assign.end }}</p>
        </li>
    </ul>
{% endfor %}


{% endblock %}